.home {
  width: 100vw;
  .container {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    .project {
      width: 80%;
      height: 90vh;
      .first {
        display: flex;
        width: 100%;
        height: 20%;
        .column {
          width: 25%;
          height: 100%;
          border-right: 0.5px solid rgba(31, 31, 31, 0.1);
          border-left: 0.5px solid rgba(31, 31, 31, 0.1);
          //   height: ;
        }
      }
      .second {
        height: 60%;
        display: flex;
        .left {
          width: 37.5%;
          height: 100%;
          &_first {
            width: 100%;
            height: 20%;
            display: flex;
            &_column {
              height: 100%;
              width: calc(100% / 3);
              border: 0.5px solid rgba(31, 31, 31, 0.1);
              border-top: none;
              &_first {
                height: 100%;
                width: calc(100% * 2 / 3);
                border: 0.5px solid rgba(31, 31, 31, 0.1);
                border-top: none;
                h1 {
                  margin-left: 10%;
                  font-size: 48px;
                  margin-top: 0;
                  color: rgb(31, 31, 31);
                }
              }
            }
          }
          &_desc {
            height: 38%;
            padding-left: 8%;
            padding-right: 8%;
            border-left: 0.5px solid rgba(31, 31, 31, 0.1);
            display: flex;
            justify-content: center;
            flex-direction: column;
            div {
              color: rgba(31, 31, 31, 0.7);
              font-size: 14px;
              &:first-child {
                font-size: 24px;
                color: rgba(31, 31, 31, 0.8);
                font-weight: 700;
                margin-bottom: 15px;
              }
            }
          }
          &_third {
            height: 12%;
            background-color: rgb(31, 31, 31);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          &_last {
            width: 100%;
            height: 30%;
            display: flex;
            &_column {
              height: 100%;
              width: calc(100% / 3);
              border: 0.5px solid rgba(31, 31, 31, 0.1);
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              &:first-child {
                cursor: inherit;
                border-bottom: none;
              }
              i {
                color: rgb(31, 31, 31);
                font-size: 64px;
              }
            }
          }
        }
        .right {
          width: 62.5%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
